{
  "extends": "standard",

  "env": {
    "browser": true,
    "jasmine": true,
    "protractor": true,
    "node": false
  },

  "globals": {
    "document": true,
    "window": true
  },

  "rules": {
    "semi": [2, "always"],
    "spaced-comment": 0,
    "no-multiple-empty-lines": 0,
    "space-before-function-paren": 0
  }
}
