### OSX
.DS_Store

### JetBrains
*.iml

## Directory-based project format:
.idea/

### Sass
.sass-cache/
*.css.map

### Node / npm
npm-debug.log
node_modules/

### JSPM
src/jspm_packages

### Other project files
dist/
src/build/
src/assets/lib/jspm_packages
src/typings
