<div class="grid-frame vertical">

  <div class="primary title-bar">
    <div class="center title"><a ui-sref="home">we { drink at } work</a></div>
    <span class="right"><a ui-sref="settings">Drink what you love</a></span>
  </div>

  <div class="grid-block">
    <div class="grid-content">
      <h1 class="main-content">Beer Board</h1>
      <div class="grid-content">
        <section class="block-list">
          <header>WEWORK NOMAD</header>
          <ul>
            <li class="grid-block v-align" ng-repeat="beer in vm.beers">
              <div class="grid-content medium-1">
                <span>Floor {{ beer.floor }}</span>
              </div>
              <div class="grid-content v-align inline-label">
                <input type="text"
                       id="type"
                       ng-model="beer.type"
                       placeholder="{{ beer.isEditMode ? 'enter beer' : 'no beer'}}"
                       set-focus="beer.isEditMode"
                       ng-disabled="!beer.isEditMode"
                       ng-change="vm.updateType(beer)">
                <div ng-if="!beer.isEditMode">
                  <button type="button" class="button" ng-click="vm.toggleEditMode(beer)">Edit</button>
                </div>
                <div ng-if="beer.isEditMode">
                  <button type="button" class="button success" ng-click="vm.saveChanges(beer)">Save</button>
                </div>
                <a ng-href="https://untappd.com/search?q={{beer.type}}">
                  <span data-tooltip
                        aria-haspopup="true"
                        class="has-tip top external-link"
                        data-disable-hover="false"
                        tabindex="2"
                        title="View on Untappd!">
                    <i class="fa fa-external-link"></i>
                  </span>
                </a>
              </div>
              <div class="grid-content beer-good">
                <div class="switch tiny">
                <input class="switch-input"
                       type="checkbox"
                       id="good-{{ beer.floor }}"
                       name="good-{{ beer.floor }}"
                       ng-model="beer.good"
                       ng-change="vm.clearProblems(beer)"
                       ng-disabled="beer.good">
                  <label class="switch-paddle" for="good-{{ beer.floor }}">
                  </label>
                </div>
              </div>
              <div class="grid-content">
                <div class="switch tiny">
                  <input class="switch-input"
                         type="checkbox"
                         id="problem-empty-{{ beer.floor }}"
                         name="problem-empty-{{ beer.floor }}"
                         ng-model="beer.empty"
                         ng-change="vm.updateStatus(beer)">
                  <label class="switch-paddle" for="problem-empty-{{ beer.floor }}">
                  </label>
                </div>
              </div>
              <div class="grid-content">
                <div class="switch tiny">
                <input class="switch-input"
                       type="checkbox"
                       id="problem-foamy-{{ beer.floor }}"
                       name="problem-foamy-{{ beer.floor }}"
                       ng-model="beer.foamy"
                       ng-change="vm.updateStatus(beer)">
                  <label class="switch-paddle" for="problem-foamy-{{ beer.floor }}">
                  </label>
                </div>
              </div>
              <div class="grid-content">
                <div class="switch tiny">
                <input class="switch-input"
                       type="checkbox"
                       id="problem-flat-{{ beer.floor }}"
                       name="problem-flat-{{ beer.floor }}"
                       ng-model="beer.flat"
                       ng-change="vm.updateStatus(beer)">
                  <label class="switch-paddle" for="problem-flat-{{ beer.floor }}">
                  </label>
                </div>
              </div>
              <div class="grid-content">
                <div class="switch tiny">
                <input class="switch-input"
                       type="checkbox"
                       id="problem-warm-{{ beer.floor }}"
                       name="problem-warm-{{ beer.floor }}"
                       ng-model="beer.warm"
                       ng-change="vm.updateStatus(beer)">
                  <label class="switch-paddle" for="problem-warm-{{ beer.floor }}">
                  </label>
                </div>
              </div>
              <div class="grid-content">
                <div class="switch tiny">
                <input class="switch-input"
                       type="checkbox"
                       id="problem-slow-{{ beer.floor }}"
                       name="problem-slow-{{ beer.floor }}"
                       ng-model="beer.slow"
                       ng-change="vm.updateStatus(beer)">
                  <label class="switch-paddle" for="problem-slow-{{ beer.floor }}">
                  </label>
                </div>
              </div>
              <div class="grid-content medium-2">
                <blockquote>{{ vm.dateToTimeAgo(beer.modified) }}</blockquote>
              </div>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </div>

</div>
