<div class="top-bar black">
  <ul class="menu align-justify">
    <li class="menu-text"><a ui-sref="home">we { drink at } work</a></li>
    <li class="menu-text white"><h6>Drink what you love</h6></li>
  </ul>
</div>

<div class="row columns">
  <div class="callout small primary">
    <div class="row column">
      <h1>Beer Board</h1>
    </div>
  </div>
</div>

<div class="row">

  <div class="small-12 medium-6 columns">

    <div class="row border-bottom"
         ng-class="{'good-beer': beer.status === 'good' && beer.type && vm.isRecent(beer.modified)}"
         ng-repeat="beer in vm.beers">

      <!-- Beer -->
      <div class="small-1 shrink columns align-middle"><h6 class="float-center">{{ beer.floor }}</h6></div>
      <div class="small-11 columns align-middle">
        <div class="row no-margin-hr fill-width">
          <div ng-if="beer.type && !beer.isEditMode" class="show-for-small-only columns align-middle no-padding-hr">
            <a ng-href="https://untappd.com/search?q={{beer.type}}">
              <input type="text"
                     id="type"
                     ng-model="beer.type"
                     placeholder="{{ beer.isEditMode ? 'enter beer' : 'no beer'}}"
                     set-focus="beer.isEditMode"
                     ng-disabled="!beer.isEditMode"
                     class="underline"
                     ng-class="{'clickable': (beer.type && !beer.isEditMode)}"
                     ng-change="vm.updateType(beer)">
            </a>
          </div>
          <div ng-if="!beer.type || beer.isEditMode" class="show-for-small-only columns align-middle no-padding-hr">
            <input type="text"
                   id="type"
                   ng-model="beer.type"
                   placeholder="{{ beer.isEditMode ? 'enter beer' : 'no beer'}}"
                   set-focus="beer.isEditMode"
                   ng-disabled="!beer.isEditMode"
                   class="underline"
                   ng-class="{'clickable': (beer.type && !beer.isEditMode)}"
                   ng-change="vm.updateType(beer)">
          </div>
          <div ng-if="beer.type && !beer.isEditMode" class="show-for-medium columns align-middle no-padding-hr">
            <a ng-href="https://untappd.com/search?q={{beer.type}}">
              <span data-tooltip
                    aria-haspopup="{{ beer.type }}"
                    class="has-tip top external-link"
                    data-disable-hover="{{ !beer.type }}"
                    tabindex="2"
                    title="View on Untappd!">
                <input type="text"
                       id="type"
                       ng-model="beer.type"
                       placeholder="{{ beer.isEditMode ? 'enter beer' : 'no beer'}}"
                       set-focus="beer.isEditMode"
                       ng-disabled="!beer.isEditMode"
                       ng-class="{'clickable': (beer.type && !beer.isEditMode)}"
                       ng-change="vm.updateType(beer)">
              </span>
            </a>
          </div>
          <div ng-if="!beer.type || beer.isEditMode" class="show-for-medium columns align-middle no-padding-hr">
            <input type="text"
                   id="type"
                   ng-model="beer.type"
                   placeholder="{{ beer.isEditMode ? 'enter beer' : 'no beer'}}"
                   set-focus="beer.isEditMode"
                   ng-disabled="!beer.isEditMode"
                   ng-class="{'clickable': (beer.type && !beer.isEditMode)}"
                   ng-change="vm.updateType(beer)">
          </div>
          <div class="small-3 columns align-middle no-padding-hr">
            <div ng-if="!beer.isEditMode" class="fill-width">
              <button type="button" class="button fill-width" ng-click="vm.toggleEditMode(beer)">Edit</button>
            </div>
            <div ng-if="beer.isEditMode" class="fill-width">
              <button type="button" class="button success fill-width" ng-click="vm.saveChanges(beer)">Save</button>
            </div>
          </div>
        </div>
      </div>

      <!-- Status -->
      <div class="small-4 columns align-middle">
        <div class="switch tiny">
          <input class="switch-input"
                 type="radio"
                 id="good-{{ beer.floor }}"
                 name="status-{{ beer.floor }}"
                 ng-model="beer.status"
                 value="good"
                 ng-change="vm.clearProblems(beer)">
          <label class="switch-paddle float-center" for="good-{{ beer.floor }}">
          </label>
        </div>
      </div>
      <div class="small-4 columns align-middle">
        <div class="switch tiny">
          <input class="switch-input"
                 type="radio"
                 id="empty-{{ beer.floor }}"
                 name="status-{{ beer.floor }}"
                 ng-model="beer.status"
                 value="empty"
                 ng-change="vm.clearProblems(beer)">
          <label class="switch-paddle float-center" for="empty-{{ beer.floor }}">
          </label>
        </div>
      </div>
      <div class="small-4 columns align-middle">
        <div class="switch tiny">
          <input class="switch-input"
                 type="radio"
                 id="problem-{{ beer.floor }}"
                 name="status-{{ beer.floor }}"
                 ng-model="beer.status"
                 value="problems">
          <label class="switch-paddle float-center" for="problem-{{ beer.floor }}"></label>
        </div>
      </div>

      <!-- Problems -->
      <div ng-if="beer.status === 'problems'" class="small-3 columns align-middle">
        <div class="switch tiny">
          <input class="switch-input"
                 type="checkbox"
                 id="problem-foamy-{{ beer.floor }}"
                 name="problem-foamy-{{ beer.floor }}"
                 ng-model="beer.foamy"
                 ng-change="vm.updateStatus(beer)">
          <label class="switch-paddle float-center" for="problem-foamy-{{ beer.floor }}">
          </label>
        </div>
      </div>
      <div ng-if="beer.status === 'problems'" class="small-3 columns align-middle">
        <div class="switch tiny">
          <input class="switch-input"
                 type="checkbox"
                 id="problem-flat-{{ beer.floor }}"
                 name="problem-flat-{{ beer.floor }}"
                 ng-model="beer.flat"
                 ng-change="vm.updateStatus(beer)">
          <label class="switch-paddle float-center" for="problem-flat-{{ beer.floor }}">
          </label>
        </div>
      </div>
      <div ng-if="beer.status === 'problems'" class="small-3 columns align-middle">
        <div class="switch tiny">
          <input class="switch-input"
                 type="checkbox"
                 id="problem-warm-{{ beer.floor }}"
                 name="problem-warm-{{ beer.floor }}"
                 ng-model="beer.warm"
                 ng-change="vm.updateStatus(beer)">
          <label class="switch-paddle float-center" for="problem-warm-{{ beer.floor }}">
          </label>
        </div>
      </div>
      <div ng-if="beer.status === 'problems'" class="small-3 columns align-middle">
        <div class="switch tiny">
          <input class="switch-input"
                 type="checkbox"
                 id="problem-slow-{{ beer.floor }}"
                 name="problem-slow-{{ beer.floor }}"
                 ng-model="beer.slow"
                 ng-change="vm.updateStatus(beer)">
          <label class="switch-paddle float-center" for="problem-slow-{{ beer.floor }}">
          </label>
        </div>
      </div>


      <!-- Timestamp -->
      <div class="small-12 medium-12 columns align-middle">
        <div class="fill-width">
          <h6 class="text-right"
              ng-class="vm.getAgeCategory(beer.modified)">{{ vm.dateToTimeAgo(beer.modified) }}</h6>
        </div>
      </div>
    </div>
  </div>

  <div class="medium-offset-1 medium-5 columns">
    <div class="row columns align-middle">
      <div class="row">
        <div class="columns align-middle">
          <h5>Best bets</h5>
          <hr />
        </div>
      </div>
      <div class="row" ng-repeat="beer in vm.getBestBets()">
        <div class="medium-8 columns align-middle">
          {{ beer.type }}
        </div>
        <div class="medium-4 columns align-middle">
          <ng-pluralize count="beer.floor"
                        when="{'1': '1st floor',
                               '2': '2nd floor',
                               '3': '3rd floor',
                               'other': '{}th floor'}">
          </ng-pluralize>
        </div>
      </div>
    </div>
  </div>

</div>
