$gray-1: #000;
$gray-2: #222;
$gray-3: #444;
$gray-4: #666;
$gray-5: #888;
$gray-6: #aaa;
$gray-7: #ccc;
$gray-8: #eee;

$header-color: #333;

$active-color: #ec8156;
$bad-color: #ffded9;

$color-good: #3abb98;
$color-empty: #ffc956;
$color-issues: #eb413b;
