%no-padding-right {
  padding-right: 0;
}

%no-padding-left {
  padding-left: 0;
}

.no-padding-hr {
  @extend %no-padding-left;
  @extend %no-padding-right;
}

%no-margin-right {
  margin-right: 0;
}

%no-margin-left {
  margin-left: 0;
}

.no-margin-hr {
  @extend %no-margin-left;
  @extend %no-margin-right;
}

